* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  margin: 0;

}

.videos_inicio {
  padding: 20px;
  text-align: center;
  justify-content: space-between;
}


nav {
  width: 100%;
  background-image: url(../img/fondo1.jpg);
  font-size: large;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

}

nav ul li {
  position: relative;
  flex: 1;
  border: 1px solid white;
}

.nav ul li:last-child {
  border-right: none;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 22px 0;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;

}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #4388DB;
  padding: 0;
  width: 100%
}

nav ul li:hover>ul {
  display: block;
}

nav ul ul li {
  width: 100%;
}

nav ul ul li a {
  padding: 20px;
  display: block;
}

a {
  color: white;
}

a:hover {
  background: #54B8F1;
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  ;
}

p {
  text-align: center;
  padding: 5px 40px;
}

h2 {
  text-align: center;
  padding: 10px;
}


.FotoJugando {
  width: auto;
  height: 350px;
  padding: 10px 10px;


}

.FotoTocando {
  width: auto;
  height: 350px;
  padding: 10px 10px;

}

.FotoFamilia {
  width: auto;
  height: 350px;
  padding: 10px 10px;

}

.FotoAmigas {
  width: auto;
  height: 350px;
  padding: 10px 10px;
}

.FotoUCO {
  width: auto;
  height: 350px;
  padding: 10px 10px;
}

.FotoUFV {
  width: auto;
  height: 350px;
  padding: 10px 10px;
}

.FotoBanda {
  width: auto;
  height: 350px;
  padding: 10px 10px;
}

.FotoPequeña {
  width: auto;
  height: 350px;
  padding: 10px 10px;
}


.imagenes-sobremi {
  display: flex;
  justify-content: center;
  padding: 10px 10p;
  align-content: center;
}


.CV {
  width: 460px;
  height: 650px;
  padding: 10px;
  margin: 0 auto;

}

.formulario {
  font-weight: bold;
  color: #254771;
  font-size: large;
  text-align: center;
  padding: 15px;
}

button[type="submit"] {

  width: 100px;
  height: 50px;
  padding: 10px;

  background-image: url(../img/fondoboton.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-weight: bold;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.imagenes-inicio {

  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 10px;
  width: auto;
  height: 400px;

}

.botonspotify button {
  width: 300px;
  height: 90px;
  background-image: url('../img/logospotify.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}

.botoninstagram button {
  width: 300px;
  height: 90px;
  background-image: url('../img/logoinstagram.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;

}

.posicionrss {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.multimedia_meta {
  padding: 20px;
  text-align: center;
  justify-content: space-between;
}

.multimedia_meta iframe {
  margin-right: 10px;
  margin-bottom: 10px;
}

.objetivos {
  text-align: left;
}

.listaFundamentos {
  padding: 10px;
  margin-left: 22%;
  margin-bottom: 5%;
  line-height: 1.5;

}

.bloques,
.temas {
  line-height: 1.5;
  margin-left: 40px;
}

.pdfs {
  margin-top: 10px;
  margin-bottom: 5%;
}

.boton_paginas {
  display: inline-block;
  width: 250px;
  text-align: center;
  margin: 20px;
  justify-content: space-between;
  padding-left: 5%;
}

.boton_paginas p {
  margin-top: 5px;
  font-size: 25px;
  text-align: center;
}

.boton_paginas p.m,
p.d {
  margin-left: 54px;
}

.formulario input,
.formulario textarea {
  padding: 9px;
  border: 2.5px solid #254771;
  border-radius: 5px;
  width: 250px;
}